# Data Import

## The Echocardiogram data set in the UCI Machine Learning repository contains information on a set of patients that suffered heart attacks at some point in the past.

### Download the Echocardiogram data set and import it to a data frame. Read the information on the data set and find out how missing values are represented and make sure that they are properly represented.

In [1]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv("echocardiogram.csv")
df.head(5)

,survival,still-alive,age-at-heart-attack,pericardial-effusion,fractional-shortening,epss,lvdd,wall-motion-score,wall-motion-index,mult,name,group,alive-at-1
0,11,0,71,0,0.260,9,4.600,14,1,1,name,1,0
1,19,0,72,0,0.380,6,4.100,14,1.700,0.588,name,1,0
2,16,0,55,0,0.260,4,3.420,14,1,1,name,1,0
3,57,0,60,0,0.253,12.062,4.603,16,1.450,0.788,name,1,0
4,19,1,57,0,0.160,22,5.750,18,2.250,0.571,name,1,0

In [7]:
df.replace("?", np.nan, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   survival               130 non-null    object
 1   still-alive            131 non-null    object
 2   age-at-heart-attack    127 non-null    object
 3   pericardial-effusion   131 non-null    object
 4   fractional-shortening  124 non-null    object
 5   epss                   117 non-null    object
 6   lvdd                   121 non-null    object
 7   wall-motion-score      128 non-null    object
 8   wall-motion-index      131 non-null    object
 9   mult                   128 non-null    object
 10  name                   132 non-null    object
 11  group                  110 non-null    object
 12  alive-at-1             74 non-null     object
dtypes: object(13)
memory usage: 13.5+ KB

In [10]:
df.isnull().sum()

survival                  2
still-alive               1
age-at-heart-attack       5
pericardial-effusion      1
fractional-shortening     8
epss                     15
lvdd                     11
wall-motion-score         4
wall-motion-index         1
mult                      4
name                      0
group                    22
alive-at-1               58
dtype: int64

### Assign the attributes with meaningful names. You can look for this information on the same webpage.

Esto se asigno directamente en el csv cuando se bajo el echocardiogram.data y echocardiogram.name y se los resumio en un csv.

### According to that same information, is there any redundant or irrelevant attribute that you can remove? Remove them.

Con la informacion recabada de sitio web donde se expresan las caracteristicas del dataset, se define lo siguiente:

8. Se sugiere utilizar wall-motion-index en lugar de wall-motion-score, debido a que es es igual a la puntuación del movimiento de la pared dividida por el número de segmentos vistos.

10. mult esta variable puede ser ignorada.

11. name esta variable fue sustituida en todas las instancias como "name" lo no agrega relevancia a los datos, se debe eliminar.

12. group variable sin sentido.

13. alive-at-1 variable booleana derivada de los dos primeros atributos.

In [12]:
columns_to_drop = ['wall-motion-score', 'mult', 'name', 'group', 'alive-at-1']
df = df.drop(columns=columns_to_drop)

In [13]:
df.head(5)

,survival,still-alive,age-at-heart-attack,pericardial-effusion,fractional-shortening,epss,lvdd,wall-motion-index
0,11,0,71,0,0.260,9,4.600,1
1,19,0,72,0,0.380,6,4.100,1.700
2,16,0,55,0,0.260,4,3.420,1
3,57,0,60,0,0.253,12.062,4.603,1.450
4,19,1,57,0,0.160,22,5.750,2.250

###  Is there any data type change that you find useful? Perform it

Ninguno, solo eliminar las filas cuyos valores contengan algun nulo

In [14]:
df = df.dropna()

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 107 entries, 0 to 131
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   survival               107 non-null    object
 1   still-alive            107 non-null    object
 2   age-at-heart-attack    107 non-null    object
 3   pericardial-effusion   107 non-null    object
 4   fractional-shortening  107 non-null    object
 5   epss                   107 non-null    object
 6   lvdd                   107 non-null    object
 7   wall-motion-index      107 non-null    object
dtypes: object(8)
memory usage: 7.5+ KB